html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0
}

body {
    padding: 0;
    margin: 0;
    background: #000
}

html, body, fieldset, img, iframe, abbr {
    border: 0
}

li {
    list-style: none
}

textarea {
    overflow: auto;
    resize: none
}

h1, h2, h3, h4, h5, h6, em, strong, b {
    font-weight: 700
}

a, a:hover {
    text-decoration: none
}

body, textarea, input, button {
    color: #000;
    font-family: "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi;
}

a:hover {
    text-decoration: none
}

a, button {
    cursor: pointer;
    text-align: center
}

button {
    border: 0;
    outline: 0;
    background: 0 0
}

li {
    list-style: none
}

textarea {
    overflow: auto;
    resize: none
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    text-align: center
}

html, body {
    width: 100%;
    min-width: 1400px;
    max-width: 1920px;
    height: auto;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    background: #fff;
    line-height: 1.5;
    position: relative;
    margin: 0 auto
}

.hide {
    display: none
}

.fl {
    float: left
}

.fr {
    float: right
}

.show {
    display: block;
}

.inline {
    display: inline-block;
    *zoom: 1;
    *display: inline
}

@-webkit-keyframes test {
    0% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(30px)
    }
    100% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(0px)
    }
}

@-moz-keyframes test {
    0% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(30px)
    }
    100% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(0px)
    }
}

@-o-keyframes test {
    0% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(30px)
    }
    100% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(0px)
    }
}

@-ms-keyframes test {
    0% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(30px)
    }
    100% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(0px)
    }
}

@keyframes test {
    0% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateY(30px)
    }
    100% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(0px)
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-o-keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-ms-keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-moz-keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-o-keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-ms-keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-moz-keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-o-keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-ms-keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-moz-keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-o-keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-ms-keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes slideBot {
    0% {
        opacity: 0;
        transform: translateY(-300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-moz-keyframes slideBot {
    0% {
        opacity: 0;
        transform: translateY(-300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-o-keyframes slideBot {
    0% {
        opacity: 0;
        transform: translateY(-300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-ms-keyframes slideBot {
    0% {
        opacity: 0;
        transform: translateY(-300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes slideBot {
    0% {
        opacity: 0;
        transform: translateY(-300px)
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@-webkit-keyframes scroll {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0)
    }
}

@-moz-keyframes scroll {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0)
    }
}

@-o-keyframes scroll {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0)
    }
}

@-ms-keyframes scroll {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0)
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0)
    }
}

@-webkit-keyframes indexbtn {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 0 bottom
    }
}

@-moz-keyframes indexbtn {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 0 bottom
    }
}

@-o-keyframes indexbtn {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 0 bottom
    }
}

@-ms-keyframes indexbtn {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 0 bottom
    }
}

@keyframes indexbtn {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 0 bottom
    }
}

@-webkit-keyframes indexbtn2 {
    0% {
        background-position: 0 bottom
    }
    100% {
        background-position: 0 0
    }
}

@-moz-keyframes indexbtn2 {
    0% {
        background-position: 0 bottom
    }
    100% {
        background-position: 0 0
    }
}

@-o-keyframes indexbtn2 {
    0% {
        background-position: 0 bottom
    }
    100% {
        background-position: 0 0
    }
}

@-ms-keyframes indexbtn2 {
    0% {
        background-position: 0 bottom
    }
    100% {
        background-position: 0 0
    }
}

@keyframes indexbtn2 {
    0% {
        background-position: 0 bottom
    }
    100% {
        background-position: 0 0
    }
}

@-webkit-keyframes wxline {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(100px)
    }
}

@-moz-keyframes wxline {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(100px)
    }
}

@-o-keyframes wxline {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(100px)
    }
}

@-ms-keyframes wxline {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(100px)
    }
}

@keyframes wxline {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(100px)
    }
}

@-webkit-keyframes scale {
    0% {
        transform: scale(0.95);
        opacity: .8
    }
    50% {
        transform: scale(1.1);
        opacity: 1
    }
    100% {
        transform: scale(0.95);
        opacity: .8
    }
}

@-moz-keyframes scale {
    0% {
        transform: scale(0.95);
        opacity: .8
    }
    50% {
        transform: scale(1.1);
        opacity: 1
    }
    100% {
        transform: scale(0.95);
        opacity: .8
    }
}

@-o-keyframes scale {
    0% {
        transform: scale(0.95);
        opacity: .8
    }
    50% {
        transform: scale(1.1);
        opacity: 1
    }
    100% {
        transform: scale(0.95);
        opacity: .8
    }
}

@-ms-keyframes scale {
    0% {
        transform: scale(0.95);
        opacity: .8
    }
    50% {
        transform: scale(1.1);
        opacity: 1
    }
    100% {
        transform: scale(0.95);
        opacity: .8
    }
}

@keyframes scale {
    0% {
        transform: scale(0.95);
        opacity: .8
    }
    50% {
        transform: scale(1.1);
        opacity: 1
    }
    100% {
        transform: scale(0.95);
        opacity: .8
    }
}

.test {
    opacity: 0;
    -moz-animation: leihuo .5s .3s forwards;
    -webkit-animation: leihuo .5s .3s forwards;
    -o-animation: leihuo .5s .3s forwards;
    -ms-animation: leihuo .5s .3s forwards;
    animation: leihuo .5s .3s forwards
}

@-webkit-keyframes dragRight {
    0% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
    60% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(215px) scale(1.5);
        -moz-transform: translateX(215px) scale(1.5);
        -ms-transform: translateX(215px) scale(1.5);
        -o-transform: translateX(215px) scale(1.5);
        transform: translateX(215px) scale(1.5)
    }
    80% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(215px) scale(1.4);
        -moz-transform: translateX(215px) scale(1.4);
        -ms-transform: translateX(215px) scale(1.4);
        -o-transform: translateX(215px) scale(1.4);
        transform: translateX(215px) scale(1.4)
    }
    100% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateX(215px) scale(1.8);
        -moz-transform: translateX(215px) scale(1.8);
        -ms-transform: translateX(215px) scale(1.8);
        -o-transform: translateX(215px) scale(1.8);
        transform: translateX(215px) scale(1.8)
    }
}

@-moz-keyframes dragRight {
    0% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
    60% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(215px) scale(1.5);
        -moz-transform: translateX(215px) scale(1.5);
        -ms-transform: translateX(215px) scale(1.5);
        -o-transform: translateX(215px) scale(1.5);
        transform: translateX(215px) scale(1.5)
    }
    80% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(215px) scale(1.4);
        -moz-transform: translateX(215px) scale(1.4);
        -ms-transform: translateX(215px) scale(1.4);
        -o-transform: translateX(215px) scale(1.4);
        transform: translateX(215px) scale(1.4)
    }
    100% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateX(215px) scale(1.8);
        -moz-transform: translateX(215px) scale(1.8);
        -ms-transform: translateX(215px) scale(1.8);
        -o-transform: translateX(215px) scale(1.8);
        transform: translateX(215px) scale(1.8)
    }
}

@-o-keyframes dragRight {
    0% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
    60% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(215px) scale(1.5);
        -moz-transform: translateX(215px) scale(1.5);
        -ms-transform: translateX(215px) scale(1.5);
        -o-transform: translateX(215px) scale(1.5);
        transform: translateX(215px) scale(1.5)
    }
    80% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(215px) scale(1.4);
        -moz-transform: translateX(215px) scale(1.4);
        -ms-transform: translateX(215px) scale(1.4);
        -o-transform: translateX(215px) scale(1.4);
        transform: translateX(215px) scale(1.4)
    }
    100% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateX(215px) scale(1.8);
        -moz-transform: translateX(215px) scale(1.8);
        -ms-transform: translateX(215px) scale(1.8);
        -o-transform: translateX(215px) scale(1.8);
        transform: translateX(215px) scale(1.8)
    }
}

@-ms-keyframes dragRight {
    0% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
    60% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(215px) scale(1.5);
        -moz-transform: translateX(215px) scale(1.5);
        -ms-transform: translateX(215px) scale(1.5);
        -o-transform: translateX(215px) scale(1.5);
        transform: translateX(215px) scale(1.5)
    }
    80% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(215px) scale(1.4);
        -moz-transform: translateX(215px) scale(1.4);
        -ms-transform: translateX(215px) scale(1.4);
        -o-transform: translateX(215px) scale(1.4);
        transform: translateX(215px) scale(1.4)
    }
    100% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateX(215px) scale(1.8);
        -moz-transform: translateX(215px) scale(1.8);
        -ms-transform: translateX(215px) scale(1.8);
        -o-transform: translateX(215px) scale(1.8);
        transform: translateX(215px) scale(1.8)
    }
}

@keyframes dragRight {
    0% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }
    60% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(215px) scale(1.5);
        -moz-transform: translateX(215px) scale(1.5);
        -ms-transform: translateX(215px) scale(1.5);
        -o-transform: translateX(215px) scale(1.5);
        transform: translateX(215px) scale(1.5)
    }
    80% {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transform: translateX(215px) scale(1.4);
        -moz-transform: translateX(215px) scale(1.4);
        -ms-transform: translateX(215px) scale(1.4);
        -o-transform: translateX(215px) scale(1.4);
        transform: translateX(215px) scale(1.4)
    }
    100% {
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translateX(215px) scale(1.8);
        -moz-transform: translateX(215px) scale(1.8);
        -ms-transform: translateX(215px) scale(1.8);
        -o-transform: translateX(215px) scale(1.8);
        transform: translateX(215px) scale(1.8)
    }
}

@-webkit-keyframes btnActive {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    40% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }
    100% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5)
    }
}

@-moz-keyframes btnActive {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    40% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }
    100% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5)
    }
}

@-o-keyframes btnActive {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    40% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }
    100% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5)
    }
}

@-ms-keyframes btnActive {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    40% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }
    100% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5)
    }
}

@keyframes btnActive {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    40% {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9)
    }
    100% {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5)
    }
}

@-webkit-keyframes zoomIn {
    0%, 100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@-moz-keyframes zoomIn {
    0%, 100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@-o-keyframes zoomIn {
    0%, 100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@-ms-keyframes zoomIn {
    0%, 100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@keyframes zoomIn {
    0%, 100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
}

#foot {
    background: #000
}

#NIE-copyRight span, #NIE-copyRight p, #NIE-copyRight a {
    color: #fff
}

#mask {
    background: rgba(0, 0, 0, .85);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: none
}

#Mshare {
    display: none;
    margin-left: 30px;
    margin-top: 6px;
    width: 150px;
    height: 25px
}

#Mshare .NIE-share .NIE-share-iconBtn li {
    margin-left: 4px
}

#Mshare .morebtn {
    display: none
}

#Mshare .NIE-share-txt {
    color: #fff;
    display: none
}

#Mshare .NIE-share-iconBtn a {
    color: #fff;
    font-size: 24px
}

#Mshare .NIE-share-iconBtn a:hover {
    color: #495e73
}

.wrap {
    max-width: 1920px;
    position: relative;
    height: 1080px;
    overflow: hidden
}

.main, .main-box {
    width: 1564px;
    height: 1080px;
    margin: 0 auto;
    position: relative
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, .61, .355, 1)
    }
    0% {
        opacity: .7;
        transform: scale3d(0.3, .3, .3)
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1)
    }
    40% {
        transform: scale3d(0.9, .9, .9)
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03)
    }
    80% {
        transform: scale3d(0.97, .97, .97)
    }
    to {
        opacity: 1;
        transform: scaleX(1)
    }
}

@-webkit-keyframes boom {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 2000px)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@-moz-keyframes boom {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 2000px)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@-o-keyframes boom {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 2000px)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@-ms-keyframes boom {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 2000px)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

@keyframes boom {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 2000px)
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.wrap {
    background: #000
}

.wrap .btn-box {
    position: absolute;
    z-index: 2;
    left: 35px;
    top: 215px;
    width: 32px
}

.wrap .btn-box > a {
    display: inline-block;
    margin-bottom: 12px;
    width: 32px;
    height: 32px;
    background: url(./images/index-icon_1f28e14.png) no-repeat
}

.wrap .btn-box > a:hover {
    background-position-x: right
}

.wrap .btn-box .go-index {
    background-position-y: 0
}

.wrap .btn-box .share-btn {
    background-position-y: -43px
}

.wrap .btn-box .share-btn #Mshare {
    display: none !important
}

.wrap .btn-box .share-btn:hover #Mshare {
    display: block !important
}

.wrap .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    width: 81px;
    height: 181px;
    background: url(./images/logo_6192982.png) no-repeat
}

.wrap .nav {
    position: absolute;
    left: 0;
    z-index: 2;
    top: 315px
}

.wrap .nav a {
    display: block;
    height: 26px;
    width: 72px;
    margin-bottom: 22px;
    background: url(./images/main-nav_5a72013.png) no-repeat
}

.wrap .nav a:hover, .wrap .nav a.active {
    height: 26px;
    width: 149px;
    background-position-x: right
}

.wrap .nav .nav1 {
    width: 118px;
    background-position: 0 0
}

.wrap .nav .nav1:hover, .wrap .nav .nav1.active {
    background-position-y: 0
}

.wrap .nav .nav2 {
    background-position: 0 -48px
}

.wrap .nav .nav2:hover, .wrap .nav .nav2.active {
    background-position-y: -48px
}

.wrap .nav .nav3 {
    background-position: 0 -98px
}

.wrap .nav .nav3:hover, .wrap .nav .nav3.active {
    background-position-y: -98px
}

.wrap .nav .nav4 {
    background-position: 0 -148px
}

.wrap .nav .nav4:hover, .wrap .nav .nav4.active {
    background-position-y: -148px
}

.wrap .nav .nav5 {
    background-position: 0 -198px
}

.wrap .nav .nav5:hover, .wrap .nav .nav5.active {
    background-position-y: -198px
}

.wrap .nav .nav6 {
    background-position: 0 -248px
}

.wrap .nav .nav6:hover, .wrap .nav .nav6.active {
    background-position-y: -248px
}

.wrap .nav .nav7 {
    background-position: 0 -298px
}

.wrap .nav .nav7:hover, .wrap .nav .nav7.active {
    background-position-y: -298px
}

.wrap .show {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 1080px;
    perspective: 1080px
}

.wrap .show > div {
    position: absolute;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
    height: 100%
}

.wrap .show .video-wrap {
    width: 1920px;
    height: 1080px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    top: 0
}

.wrap .show .video {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 1;
    -moz-animation: slideLeft .5s ease both;
    -webkit-animation: slideLeft .5s ease both;
    -o-animation: slideLeft .5s ease both;
    -ms-animation: slideLeft .5s ease both;
    animation: slideLeft .5s ease both
}

.wrap .show .video .video_bor {
    width: 88px;
    height: 88px;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle, #fff 100%, #000 100%);
    -webkit-transform: rotate(0.000001deg);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 16px
}

.wrap .show .video video {
    height: 140%;
    margin-left: -60px;
    overflow: hidden;
    margin-top: -20px
}

.wrap .show .cover {
    background: url(./images/video_a3885d9.png) no-repeat;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
    -moz-animation: scale 2s ease infinite;
    -webkit-animation: scale 2s ease infinite;
    -o-animation: scale 2s ease infinite;
    -ms-animation: scale 2s ease infinite;
    animation: scale 2s ease infinite;
    cursor: pointer
}

.wrap .show .name {
    position: absolute;
    -moz-animation: boom .2s .5s ease both;
    -webkit-animation: boom .2s .5s ease both;
    -o-animation: boom .2s .5s ease both;
    -ms-animation: boom .2s .5s ease both;
    animation: boom .2s .5s ease both
}

.wrap .show .ability {
    position: absolute;
    width: 198px;
    height: 501px;
    -moz-animation: slideBot .5s ease both;
    -webkit-animation: slideBot .5s ease both;
    -o-animation: slideBot .5s ease both;
    -ms-animation: slideBot .5s ease both;
    animation: slideBot .5s ease both;
    background: url(./images/ability_46c0bc5.png) no-repeat
}

.wrap .show .school {
    position: absolute;
    width: 33px;
    height: 150px;
    background: url(./images/school_4771241.png) no-repeat;
    -moz-animation: slideTop .5s ease both;
    -webkit-animation: slideTop .5s ease both;
    -o-animation: slideTop .5s ease both;
    -ms-animation: slideTop .5s ease both;
    animation: slideTop .5s ease both
}

.wrap .show .person {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 50%;
    margin-left: -960px
}

.wrap .sm {
    background: url(./images/suimeng-bg_cf336c3.jpg) no-repeat center top
}

.wrap .sm .school {
    left: 715px;
    top: 43px;
    background-position: -104px 0
}

.wrap .sm .name {
    background: url(./images/suimeng-name_b6779e2.png) no-repeat;
    width: 292px;
    height: 485px;
    left: 733px;
    top: 40px
}

.wrap .sm .ability {
    left: 861px;
    top: 460px;
    background-position: -1098px 0
}

.wrap .sm .person {
    background: url(./images/suimeng-person_4685044.png) no-repeat
}

.wrap .sm .video {
    top: 330px;
    left: 920px
}

.wrap .xh {
    background: url(./images/xuehe-bg_b7e8f8d.jpg) no-repeat center top
}

.wrap .xh .school {
    left: 925px;
    top: 55px;
    background-position: -154px 0
}

.wrap .xh .name {
    background: url(./images/xuehe-name_81c3734.png) no-repeat;
    width: 433px;
    height: 513px;
    left: 900px;
    top: 20px
}

.wrap .xh .ability {
    left: 950px;
    top: 454px;
    background-position: -442px 0
}

.wrap .xh .person {
    background: url(./images/xuehe-person_97f1436.png) no-repeat
}

.wrap .xh .video {
    left: 970px;
    top: 258px
}

.wrap .sx {
    background: url(./images/shenxiang-bg_689e69d.jpg) no-repeat center top
}

.wrap .sx .school {
    left: 789px;
    top: 61px;
    background-position: -53px 0
}

.wrap .sx .name {
    background: url(./images/shenxiang-name_9a85a35.png) no-repeat;
    width: 313px;
    height: 453px;
    left: 775px;
    top: 36px
}

.wrap .sx .ability {
    left: 1018px;
    top: 403px;
    background-position: -663px 0
}

.wrap .sx .person {
    background: url(./images/shenxiang-person_eb6651f.png) no-repeat
}

.wrap .sx .video {
    left: 1060px;
    top: 250px
}

.wrap .ty {
    background: url(./images/tieyi-bg_96e3716.jpg) no-repeat center top
}

.wrap .ty .school {
    left: 710px;
    top: 38px;
    background-position: -154px 0
}

.wrap .ty .name {
    background: url(./images/tieyi-name_bdf665f.png) no-repeat;
    width: 374px;
    height: 405px;
    left: 668px;
    top: 29px
}

.wrap .ty .ability {
    left: 854px;
    top: 404px;
    background-position: 0 0
}

.wrap .ty .person {
    background: url(./images/tieyi-person_640c50e.png) no-repeat
}

.wrap .ty .video {
    left: 900px;
    top: 250px
}

.wrap .jl {
    background: url(./images/jiuling-bg_69e4c6e.jpg) no-repeat center top
}

.wrap .jl .school {
    left: 902px;
    top: 48px;
    background-position: 0 0
}

.wrap .jl .name {
    background: url(./images/jiuling-name_236141b.png) no-repeat;
    width: 310px;
    height: 439px;
    left: 944px;
    top: 32px
}

.wrap .jl .ability {
    left: 1088px;
    top: 438px;
    background-position: -222px 0
}

.wrap .jl .person {
    background: url(./images/jiuling-person_b246b97.png) no-repeat
}

.wrap .jl .video {
    left: 1115px;
    top: 305px
}

.wrap .sw {
    background: url(./images/suwen-bg_9b31741.jpg) no-repeat center top;
}

.wrap .sw .school {
    left: 752px;
    top: 35px;
    background-position: 0 0
}

.wrap .sw .name {
    background: url(./images/suwen-name_ba34f19.png) no-repeat;
    width: 313px;
    height: 456px;
    left: 684px;
    top: 25px
}

.wrap .sw .ability {
    left: 865px;
    top: 446px;
    background-position: -882px 0
}

.wrap .sw .person {
    background: url(./images/suwen-person_f6a55df.png) no-repeat
}

.wrap .sw .video {
    left: 900px;
    top: 305px
}

.pop_video_bg {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    width: 100%;
    z-index: 9999;
    min-width: 1200px
}

.pop_video {
    position: fixed;
    left: 50%;
    z-index: 10000;
    display: none
}

.close_pv {
    position: absolute;
    right: -48px;
    top: 0;
    width: 48px;
    height: 48px;
    text-indent: -9999em;
    outline: 0;
    background-repeat: no-repeat;
}

.close_pv:hover {
    background-repeat: no-repeat;
}

.close_pv {
    background-position: 0px 0px
}

.close_pv:hover {
    background-position: -48px 0px
}

.close_pv, .close_pv:hover {
    background-image: url(./images/index_z_3fca544.png)
}